---
layout: default
title: Home
---

<div style="padding:10rem 10rem 10rem 10rem;background-color:#EEEEEE;">My name is Jesse Laning.<br/>I am a student and do physics research at Kansas State University. I write blogs and tutorials about programming.</div>

<hr/><h3>Recent Posts:</h3>

          <div class="row">
{% for post in site.posts limit: 3 %}
{% include indexpostitem.html %}
<hr/>
{% endfor %}
          </div><!--/row-->

          <div class="row hidden-phone spacer50"></div>
          <div class="row visible-phone spacer25"></div>

          <a href="/blog/">more posts</a>
